/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: Quirky;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/quirky_nots.eot");
  src: url("/fonts/quirky_nots.eot?#iefix") format("embedded-opentype"), url("/fonts/quirky_nots.woff") format("woff"), url("/fonts/quirky_nots.ttf") format("truetype"), url("/fonts/quirky_nots.svg#Quirky") format("svg"); }

@font-face {
  font-family: Verano;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/verano.eot");
  src: url("/fonts/verano.eot?#iefix") format("embedded-opentype"), url("/fonts/verano.woff") format("woff"), url("/fonts/verano.ttf") format("truetype"), url("/fonts/verano.svg#Verano") format("svg"); }

@font-face {
  font-family: Qarmic;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/qarmic.eot");
  src: url("/fonts/qarmic.eot?#iefix") format("embedded-opentype"), url("/fonts/qarmic.woff") format("woff"), url("/fonts/qarmic.ttf") format("truetype"), url("/fonts/qarmic.svg#Qarmic") format("svg"); }

a.frame {
  display: block; }
  a.frame:hover {
    text-decoration: none; }

.outerframe.welcome .frame {
  background: url("/images/frames.svg") no-repeat -442px -757px;
  width: 269px;
  height: 258px;
  padding: 60px; }

.outerframe.countdown .frame {
  background: url("/images/frames.svg") no-repeat -23px -860px;
  width: 384px;
  height: 172px;
  padding-top: 45px;
  padding-left: 45px; }

.outerframe.venue .frame {
  background: url("/images/frames.svg") no-repeat -389px -184px;
  width: 147px;
  height: 125px;
  padding: 33px; }
.outerframe.venue .frame.highlight, .outerframe.venue a.frame:hover {
  background: url("/images/frames.svg") no-repeat -567px -184px; }

.outerframe.rsvp .frame {
  background: url("/images/frames.svg") no-repeat -378px -502px;
  width: 150px;
  height: 153px;
  padding: 33px; }
.outerframe.rsvp .frame.highlight, .outerframe.rsvp a.frame:hover {
  background: url("/images/frames.svg") no-repeat -548px -502px; }

.outerframe.accomodation .frame {
  background: url("/images/frames.svg") no-repeat -10px -18px;
  width: 237px;
  height: 143px;
  padding: 10px; }
.outerframe.accomodation .frame.highlight, .outerframe.accomodation a.frame:hover {
  background: url("/images/frames.svg") no-repeat -257px -18px; }

.outerframe.timetable .frame {
  background: url("/images/frames.svg") no-repeat -392px -339px;
  width: 164px;
  height: 152px;
  padding: 40px 40px 50px 30px; }
.outerframe.timetable .frame.highlight, .outerframe.timetable a.frame:hover {
  background: url("/images/frames.svg") no-repeat -575px -339px; }

.outerframe.giftlist .frame {
  background: url("/images/frames.svg") no-repeat -57px -688px;
  width: 112px;
  height: 134px;
  padding: 30px 25px 40px 25px; }
.outerframe.giftlist .frame.highlight, .outerframe.giftlist a.frame:hover {
  background: url("/images/frames.svg") no-repeat -192px -688px; }

.outerframe.blog .frame {
  background: url("/images/frames.svg") no-repeat -17px -162px;
  width: 177px;
  height: 170px;
  padding: 60px 40px 55px 45px; }
.outerframe.blog .frame.highlight, .outerframe.blog a.frame:hover {
  background: url("/images/frames.svg") no-repeat -195px -162px; }

.outerframe.photos .frame {
  background: url("/images/frames.svg") no-repeat -33px -498px;
  width: 160px;
  height: 162px;
  padding: 60px 35px 45px 35px; }
.outerframe.photos .frame.highlight, .outerframe.photos a.frame:hover {
  background: url("/images/frames.svg") no-repeat -203px -498px; }

.outerframe.guestbook .frame {
  background: url("/images/frames.svg") no-repeat -30px -346px;
  width: 155px;
  height: 138px;
  padding: 35px 40px 35px 40px; }
.outerframe.guestbook .frame.highlight, .outerframe.guestbook a.frame:hover {
  background: url("/images/frames.svg") no-repeat -213px -346px; }

body {
  font-family: Qarmic;
  font-size: 18px;
  line-height: 27px;
  min-width: 1050px; }

a {
  text-decoration: none;
  color: #56008c; }
  a:hover {
    text-decoration: underline; }

::selection {
  background: #aa7fc5; }

::-moz-selection {
  background: #aa7fc5; }

header {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center; }
  header:before, header:after {
    content: " ";
    display: table; }
  header:after {
    clear: both; }
  header nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 12.6px;
    line-height: 18.9px; }
    header nav:last-child {
      margin-right: 0; }
    header nav li {
      display: inline-block; }
      header nav li a {
        color: grey; }
        header nav li a:hover {
          color: #56008c;
          text-decoration: none; }

a.frame {
  color: black; }

.frame {
  text-align: center; }

.atvr {
  position: absolute;
  left: 0;
  top: 50px;
  width: 260px;
  text-align: right; }
  .atvr .outerframe {
    display: inline-block;
    margin: 10px 0; }
  .atvr .venue .frame {
    padding-top: 50px;
    padding-left: 25px; }
  .atvr .rsvp .frame {
    padding-top: 65px; }
  .atvr .accomodation .frame {
    padding-top: 55px;
    padding-left: 25px; }
  .atvr .timetable .frame {
    padding-top: 60px; }

section {
  margin-left: 260px;
  margin-right: 260px; }

.gbpg {
  position: absolute;
  right: 0;
  top: 50px;
  width: 260px;
  margin-left: 790px; }
  .gbpg .outerframe {
    margin: 10px 0; }
  .gbpg .giftlist .frame {
    padding-top: 40px; }
  .gbpg .blog .frame {
    padding-top: 75px; }
  .gbpg .photos .frame {
    padding-top: 70px; }
  .gbpg .guestbook .frame {
    padding-top: 45px; }

footer {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin-top: 50px; }
  footer:before, footer:after {
    content: " ";
    display: table; }
  footer:after {
    clear: both; }
  footer ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    footer ul:last-child {
      margin-right: 0; }
    footer ul.bride {
      text-align: right;
      border-right: 1px solid #888;
      padding-right: 2.35765%; }
    footer ul.groom {
      text-align: left; }
    footer ul .title {
      font-family: Quirky;
      font-size: 27px;
      line-height: 40.5px; }
    footer ul img.facebook {
      width: 30px;
      height: 30px;
      background-color: #3B5998; }

#home .content {
  padding-top: 100px; }
  #home .content .welcome {
    font-family: Quirky;
    font-size: 45px;
    line-height: 67.5px;
    line-height: 45px; }
    #home .content .welcome .frame {
      margin: auto; }
  #home .content .countdown {
    margin: 20px 0;
    height: 172px;
    margin: 50px 0; }
    #home .content .countdown .frame {
      margin: auto; }
    #home .content .countdown .days {
      float: left;
      padding: 0 10px;
      margin-top: -10px; }
      #home .content .countdown .days .number {
        font-size: 63px;
        line-height: 94.5px;
        margin-right: 5px; }
    #home .content .countdown .hours, #home .content .countdown .minutes {
      text-align: left;
      margin-top: 5px;
      margin-left: 180px; }
      #home .content .countdown .hours .number, #home .content .countdown .minutes .number {
        font-size: 36px;
        margin-right: 5px; }

#rsvp form {
  font-family: Quirky;
  background: url("/images/frames.svg") no-repeat -754px -11px;
  width: 500px;
  height: 420px;
  padding-top: 80px;
  padding-left: 90px;
  padding-right: 90px;
  margin: auto;
  margin-top: 100px; }
  #rsvp form h1 {
    font-size: 46px;
    line-height: 46px;
    text-align: center; }
  #rsvp form .names {
    font-size: 36px;
    line-height: 54px; }
    #rsvp form .names input {
      font-size: 27px;
      line-height: 40.5px;
      display: block;
      margin: auto;
      font-family: Quirky;
      width: 280px;
      border: none;
      border-bottom: 2px solid black;
      outline: none;
      margin-top: -10px;
      margin-bottom: 10px; }
  #rsvp form .response {
    font-size: 23.4px;
    line-height: 35.1px;
    margin-left: 30px; }
    #rsvp form .response label, #rsvp form .response input {
      cursor: pointer; }
    #rsvp form .response input[type=radio] {
      display: none; }
    #rsvp form .response input[type=radio]:checked + label:before {
      content: "\2713"; }
    #rsvp form .response label:before {
      content: "\00a0";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      border-radius: 3px;
      border: 1px solid black;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      font-size: 15px;
      text-align: center;
      line-height: 15px; }
  #rsvp form .send {
    text-align: center; }
    #rsvp form .send input {
      font-family: Quirky;
      border: none;
      border-bottom: 2px solid black;
      background-color: transparent;
      cursor: pointer;
      font-size: 36px;
      line-height: 30px; }
