.public.accommodation {
    .quick {
        text-align: center;
        font-size: 1.3em;
        span {
            margin: 0 2 * $spacer;
        }
    }
    .details {
        margin-left: 2 * $spacer;
        margin-bottom: $spacer;
        .name {
            margin-left: - $spacer;
        }
        i {
            color: #666;
        }
    }
    .map {
        text-align: center;
    }
}