{% extends "base.html" %}
{% set page="public guestbook entry" %}
{% set title="Guest Book | {{ entry.name }}" %}
{% block content %}
    <h3>Guest Book Entry</h3>
    <div class="entry">{% for e in entry.post | split('\n') %}<p>{{ e }}</p>{% endfor %}</div>
    <div class="name">{{ entry.name }} @ {{ entry.date | just_date }}</div>
{% endblock %}

{% block sidebar %}
    <h2>Guest Book</h2>
    <a href="{{ url_for('public.guestbook_sign') }}">Sign the Book</a>
    <ul class="entries">
        <li>Guests</li>
        {% for e in entries | sort(attribute='date') %}
            <li><a href="{{ url_for('public.guestbook', entry=e.url_name) }}">{{ e.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}