{% extends "base.html" %}
{% set page="public photos slides" %}
{% set title="Photo Albums | {{ album.title }}" %}
{% block content %}
    <h3>{{ album.title }}</h3>
    <div id="slides">
        {% for i in album.images %}
            <img src="{{ i.link }}" />
        {% endfor %}
        <a href="#previous" class="slidesjs-previous slidesjs-navigation">
            <i class="fa fa-chevron-left fa-lg"></i>
        </a>
        <a href="#next" class="slidesjs-next slidesjs-navigation">
            <i class="fa fa-chevron-right fa-lg"></i>
        </a>
    </div>
{% endblock %}

{% block sidebar %}
    <h2>Photos</h2>
    <ul class="albums">
        {% for a in albums %}
            <li><a href="{{ url_for('public.photos', album=a.id) }}">{{ a.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}