{% extends "base.html" %}
{% set page="public timetable" %}
{% set title="Timetable" %}
{% block content %}
<h2>Timetable</h2>
<p>Saturday 1st August 2015</p>
<ul>
    <li><span>13:15</span> Wedding guests arrive</li>
    <li><span>14:00</span> Ceremony</li>
    <li><span>14:30</span> Photos</li>
    <li><span>16:30</span> Wedding Breakfast</li>
    <li><span>18:30</span> Toasts and speeches</li>
    <li><span>19:00</span> Evening guests arrive</li>
    <li><span>19:45</span> First dance</li>
    <li><span>21:00</span> Buffet</li>
    <li><span>00:30</span> Bar Closes</li>
</ul>
{% endblock %}