#home {
    text-align: center;
    a.frame {
        color: black;
    }
    .frame {
        margin: auto;
    }
    .venue, .rsvp, .accomodation {
        height: 258px;
        padding-top: 55px;
    }
    .timetable, .countdown, .giftlist {
        margin: 20px 0;
        height: 172px;
    }
    .blog, .photos, .guestbook {
        height: 170px;
    }
    .venue {
        @include span-columns(2);
        @include shift(0.5);
        .frame {
            padding-top: 50px;
            padding-left: 25px;
        }
    }
    .rsvp {
        @include span-columns(2);
        .frame {
            padding-top: 65px;
        }
    }
    .welcome {
        @include span-columns(3);
        font-family: Quirky;
        @include fontsize(2.5);
        line-height: 45px;
        .frame {
            margin: auto;
        }
    }
    .accomodation {
        @include span-columns(4.5);
        @include omega();
        .frame {
            padding-top: 55px;
            padding-left: 25px;
        }
    }
    .timetable {
        @include span-columns(2);
        @include shift(1);
        padding-top: 10px;
        .frame {
            padding-top: 60px;
        }
    }
    .countdown {
        @include span-columns(6);
        @include fontsize(1);
        .days {
            float: left;
            padding: 0 10px;
            margin-top: -10px;

            .number {
                @include fontsize(3.5);
                margin-right: 5px;
            }
        }
        .hours, .minutes {
            text-align: left;
            margin-top: 5px;
            margin-left: 180px;

            .number {
                font-size: 2*$fontsize;
                margin-right: 5px;
            }
        }
    }
    .giftlist {
        @include span-columns(2);
        @include omega();
        padding-top: 20px;
        .frame {
            padding-top: 40px;
        }
    }
    .blog {
        @include span-columns(2);
        @include shift(2);
        .frame {
            padding-top: 75px;
        }
    }
    .photos {
        @include span-columns(2);
        @include shift(1);
        padding-top: 5px;
        .frame {
            padding-top: 70px;
        }
    }
    .guestbook {
        @include span-columns(2);
        @include shift(1);
        @include omega();
        padding-top: 15px;
        .frame {
            padding-top: 45px;
        }
    }
}