body {
    @include fontsize();
    @include outer-container();
    min-width: 900px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 300;
    header {
        @include span-columns(12);
        @include omega();
        nav {
            @include span-columns(12);
            text-align: center;
            font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
            font-weight: 300;
            @include fontsize(0.7);
            li {
                display: inline-block;
                a {
                    color: grey;
                    &:hover {
                        color: $splashcolor;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .atvr {
        @include span-columns(2);
        text-align: right;
        .outerframe {
            display: inline-block;
            margin: 10px 0;
        }
        .venue {
          .frame {
              padding-top: 50px;
              padding-left: 25px;
          }
        }
        .rsvp {
          .frame {
              padding-top: 65px;
          }
        }
        .accommodation {
          .frame {
              padding-top: 55px;
              padding-left: 25px;
          }
        }
        .timetable {
          .frame {
              padding-top: 60px;
          }
        }
    }
    .content {
        @include span-columns(8);
        padding: 150px 50px;
        .wrapper {
            width: 500px;
            margin: auto;
            text-align: justify;
            h1 {
                @include fontsize(2);
            }
            p {
                margin: 20px 0;
            }
        }
    }
    .gbpg {
        font-family: Quirky;
        @include span-columns(2);
        @include omega();
        .outerframe {
            margin: 10px 0;
        }
        .giftlist {
            .frame {
                padding-top: 40px;
            }
        }
        .blog {
            .frame {
                padding-top: 75px;
            }
        }
        .photos {
            .frame {
                padding-top: 70px;
            }
        }
        .guestbook {
            .frame {
                padding-top: 45px;
            }
        }
    }
    footer {
        @include span-columns(12);
        @include omega();
        font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: 300;
        ul {
            @include span-columns(6 of 12);
            &.bride {
                text-align: right;
                border-right: 1px solid #888;
                padding-right: 2.35765%;
            }
            &.groom {
                text-align: left;
            }
            .title {
                font-family: Quirky;
                @include fontsize(1.5);
            }
            img.facebook {
                width: 30px;
                height: 30px;
                background-color: #3B5998;
            }
        }
    }
}
a {
    text-decoration: none;
    color: $splashcolor;
    &:hover {
        text-decoration: underline;
    }
}
::selection {
    background: tint($splashcolor, 50%);
    }
::-moz-selection {
    background: tint($splashcolor, 50%);
}
a.frame {
    color: black;
}
.frame {
    text-align: center;
}
