@mixin frame($w, $h, $pt, $pr, $pb, $pl) {
    width: $w - $pr - $pl;
    height: $h - $pt - $pb;
    padding: $pt $pr $pb $pl;
    background-size: $w $h;
}
.frame {
    display: inline-block;

    &.title {
        display: block;
        text-align: left;
        
        div {
            text-align: center;
        }
    }
}
.curly.square {
    background: url('/images/curly_square.svg');
    @include frame(268px, 257px, 60px, 60px, 60px, 60px);
}
.flat.banner {
    background: url('/images/flat_banner.svg');
    @include frame(396px, 178px, 50px, 53px, 48px, 54px);
}
.blog {
    background: url('/images/blog.svg');
    @include frame(177px, 170px, 75px, 38px, 55px, 40px);
    //position: relative;
    //top: -200px;
    //left: 100px;
    //@include transform(rotate(-20deg));
}
.timetable {
    background: url('/images/timetable.svg');
    @include frame(164px, 151px, 60px, 38px, 50px, 30px);
}
.guestbook {
    background: url('/images/guestbook.svg');
    @include frame(155px, 138px, 45px, 48px, 36px, 45px);
}
.venue {
    background: url('/images/venue.svg');
    @include frame(146px, 125px, 50px, 38px, 31px, 35px);
}
.accommodation {
    background: url('/images/accommodation.svg');
    @include frame(237px, 142px, 50px, 29px, 38px, 40px);
}
.giftlist {
    background: url('/images/giftlist.svg');
    @include frame(122px, 134px, 40px, 25px, 50px, 25px);
}
.photos {
    background: url('/images/photos.svg');
    @include frame(159px, 162px, 70px, 25px, 50px, 25px);
}
.rsvp {
    background: url('/images/rsvp.svg');
    @include frame(150px, 152px, 65px, 25px, 50px, 25px);
    //position: relative;
    //left: -50px;
    //@include transform(rotate(10deg));
}