.information {
    max-width: 700px;
    padding-left: 100px;
    margin: auto;
    text-align: justify;

    .frame {
        margin-left: -100px;
    }

    ul {
        list-style: disc;
        margin: 20px 0 20px 50px;
    }

    p {
        margin: 20px 0;
    }

    img {
        display: block;
        margin: auto;
    }
}