.picture {
    $w: 166px;
    $h: 161px;

    width: $w;
    height: $h;
    background-size: 0.8*$h 0.8*$w;
    background-repeat: no-repeat;
    background-position: center;

    display: inline-block;

    &.holiday {
        background-image: url('/images/holiday.jpg');
        
        &.bigger {
            img {
                width: 1.5*$w;
                height: 1.5*$h;
            }
            background-size: 1.2*$h 1.2*$w;
            width: 1.5*$w;
            height: 1.5*$h;
        }
    }
    &.scary {
        background-image: url('/images/scary.jpg');
    }
    &.serious {
        background-image: url('/images/serious.jpg');
    }
    &.smart {
        background-image: url('/images/smart.jpg');
    }
    &.sweet {
        background-image: url('/images/sweet.jpg');
    }
}